<div class="catalog__products catalog__products_active">
  <div
    data-wow-duration="2s"
    data-wow-delay="1s"
    class="catalog__item wow animate__fadeInTopLeft animate__animated"
  >
    <div class="catalog__item-wrapper">
      <div class="catalog__item-front catalog__item-front_active">
        <img src="img/catalog/first.png" alt="" class="catalog__item-img" />
        <h3 class="catalog__item-title">Пульсометр Polar FT1</h3>
        <p class="catalog__item-descr">
          Для первых шагов в тренировках, основанных на сердечном ритме
        </p>
        <a href="" class="catalog__item-link">подробнее</a>
      </div>
      <div class="catalog__item-back">
        <ul class="catalog__item-list">
          <li>
            Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
          </li>

          <li>
            Вы увидите информативный графический индикатор целевых тренировочных
            зон пульса;
          </li>

          <li>Также Вы увидите информацию о расходе калорий за тренировку;</li>

          <li>Вы сможете посмотреть данные по 10 тренировкам.</li>
        </ul>
        <a href="" class="catalog__item-link_back">назад</a>
      </div>
    </div>
    <div class="catalog__item-line"></div>
    <div class="catalog__item-footer">
      <div class="catalog__item-prices">
        <s class="animate__animated animate__hinge">1 950 грн</s>
        <div>1 750 грн</div>
      </div>
      <button class="btn btn_catalog">Купить</button>
    </div>
  </div>
  <div
    data-wow-duration="2s"
    data-wow-delay="1s"
    class="catalog__item wow animate__fadeInDown animate__animated"
  >
    <div class="catalog__item-wrapper">
      <div class="catalog__item-front catalog__item-front_active">
        <img src="img/catalog/second.png" alt="" class="catalog__item-img" />
        <h3 class="catalog__item-title">Пульсометр Polar FT2</h3>
        <p class="catalog__item-descr">
          Для первых шагов в тренировках, основанных на сердечном ритме
        </p>
        <a href="" class="catalog__item-link">подробнее</a>
      </div>
      <div class="catalog__item-back">
        <ul class="catalog__item-list">
          <li>
            Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
          </li>

          <li>
            Вы увидите информативный графический индикатор целевых тренировочных
            зон пульса;
          </li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
        </ul>
        <a href="" class="catalog__item-link_back">назад</a>
      </div>
    </div>
    <div class="catalog__item-line"></div>
    <div class="catalog__item-footer">
      <div class="catalog__item-prices">
        <s class="animate__animated animate__hinge">1 950 грн</s>
        <div>1 750 грн</div>
      </div>
      <button class="btn btn_catalog">Купить</button>
    </div>
  </div>
  <div
    data-wow-duration="2s"
    data-wow-delay="1s"
    class="catalog__item wow animate__fadeInTopRight animate__animated"
  >
    <div class="catalog__item-wrapper">
      <div class="catalog__item-front catalog__item-front_active">
        <img src="img/catalog/third.jpg" alt="" class="catalog__item-img" />
        <h3 class="catalog__item-title">Пульсометр Polar FT3</h3>
        <p class="catalog__item-descr">
          Для первых шагов в тренировках, основанных на сердечном ритме
        </p>
        <a href="" class="catalog__item-link">подробнее</a>
      </div>
      <div class="catalog__item-back">
        <ul class="catalog__item-list">
          <li>
            Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
          </li>

          <li>
            Вы увидите информативный графический индикатор целевых тренировочных
            зон пульса;
          </li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
        </ul>
        <a href="" class="catalog__item-link_back">назад</a>
      </div>
    </div>
    <div class="catalog__item-line"></div>
    <div class="catalog__item-footer">
      <div class="catalog__item-prices">
        <s class="animate__animated animate__hinge">1 950 грн</s>
        <div>1 750 грн</div>
      </div>
      <button class="btn btn_catalog">Купить</button>
    </div>
  </div>
  <div
    data-wow-duration="2s"
    data-wow-delay="1s"
    class="wow catalog__item animate__fadeInBottomLeft animate__animated"
  >
    <div class="catalog__item-wrapper">
      <div class="catalog__item-front catalog__item-front_active">
        <img src="img/catalog/fourth.png" alt="" class="catalog__item-img" />
        <h3 class="catalog__item-title">Пульсометр Polar FT4</h3>
        <p class="catalog__item-descr">
          Для первых шагов в тренировках, основанных на сердечном ритме
        </p>
        <a href="" class="catalog__item-link">подробнее</a>
      </div>
      <div class="catalog__item-back">
        <ul class="catalog__item-list">
          <li>
            Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
          </li>

          <li>
            Вы увидите информативный графический индикатор целевых тренировочных
            зон пульса;
          </li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
        </ul>
        <a href="" class="catalog__item-link_back">назад</a>
      </div>
    </div>
    <div class="catalog__item-line"></div>
    <div class="catalog__item-footer">
      <div class="catalog__item-prices">
        <s class="animate__animated animate__hinge">1 950 грн</s>
        <div>1 750 грн</div>
      </div>
      <button class="btn btn_catalog">Купить</button>
    </div>
  </div>
  <div
    data-wow-duration="2s"
    data-wow-delay="1s"
    class="catalog__item wow animate__fadeInUp animate__animated"
  >
    <div class="catalog__item-wrapper">
      <div class="catalog__item-front catalog__item-front_active">
        <img src="img/catalog/fifth.png" alt="" class="catalog__item-img" />
        <h3 class="catalog__item-title">Пульсометр Polar FT5</h3>
        <p class="catalog__item-descr">
          Для первых шагов в тренировках, основанных на сердечном ритме
        </p>
        <a href="" class="catalog__item-link">подробнее</a>
      </div>
      <div class="catalog__item-back">
        <ul class="catalog__item-list">
          <li>
            Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
          </li>

          <li>
            Вы увидите информативный графический индикатор целевых тренировочных
            зон пульса;
          </li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
        </ul>
        <a href="" class="catalog__item-link_back">назад</a>
      </div>
    </div>
    <div class="catalog__item-line"></div>
    <div class="catalog__item-footer">
      <div class="catalog__item-prices">
        <s class="animate__animated animate__hinge">1 950 грн</s>
        <div>1 750 грн</div>
      </div>
      <button class="btn btn_catalog">Купить</button>
    </div>
  </div>
  <div
    data-wow-duration="2s"
    data-wow-delay="1s"
    class="wow catalog__item animate__fadeInBottomRight animate__animated"
  >
    <div class="catalog__item-wrapper">
      <div class="catalog__item-front catalog__item-front_active">
        <img src="img/catalog/sixth.png" alt="" class="catalog__item-img" />
        <h3 class="catalog__item-title">Пульсометр Polar FT6</h3>
        <p class="catalog__item-descr">
          Для первых шагов в тренировках, основанных на сердечном ритме
        </p>
        <a href="" class="catalog__item-link">подробнее</a>
      </div>
      <div class="catalog__item-back">
        <ul class="catalog__item-list">
          <li>
            Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
          </li>

          <li>
            Вы увидите информативный графический индикатор целевых тренировочных
            зон пульса;
          </li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>

          <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
        </ul>
        <a href="" class="catalog__item-link_back">назад</a>
      </div>
    </div>
    <div class="catalog__item-line"></div>
    <div class="catalog__item-footer">
      <div class="catalog__item-prices">
        <s class="animate__animated animate__hinge">1 950 грн</s>
        <div>1 750 грн</div>
      </div>
      <button class="btn btn_catalog">Купить</button>
    </div>
  </div>
</div>
