<footer class="footer">
  <div class="footer__info">
    <address class="footer__address">Киев, Лабораторный проулок 7А</address>
    <a class="footer__tel" href="tel:+380739228974">+38 (073) 922-89-74</a>
    <div class="footer__socials">
      <a class="footer__socials-link" href="#"
        ><span class="icon-facebook"></span
      ></a>
      <a class="footer__socials-link" href="#"
        ><span class="icon-instagram"></span
      ></a>
      <a class="footer__socials-link" href="#"
        ><span class="icon-pinterest"></span
      ></a>
    </div>
  </div>
  <div class="footer__map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.671169407941!2d30.525391316076355!3d50.42859797947242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf1ad99801df%3A0x92b77b6c451ab670!2z0JvQsNCx0L7RgNCw0YLQvtGA0L3Ri9C5INC_0LXRgC4sIDfQkCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1623258138933!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</footer>
