<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="" class="header__logo"
        ><img src="img/logo.png" alt="logotype"
      /></a>
      <p class="header__official">
        Официальный представитель
        <span>Garmin, Polar, Suunto</span>
      </p>
      <div class="header__contacts">
        <a href="tel:+380739228974">+38 (073) 922-89-74</a>
        <button class="btn" data-modal="consultation">заказать звонок</button>
      </div>
    </div>
  </div>
</header>
